# Make project render nicely
*.cs linguist-detectable=false
*.py linguist-detectable=false
*.c linguist-detectable=false
*.h linguist-detectable=false
*.sh linguist-detectable=false

# Binary (why did we need this?)
# *.dll filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Source
*.expected text eol=lf
*.cs text eol=lf
*.h text eol=lf
*.py text eol=lf
*.toml text eol=lf
