/target
**/*.rs.bk
Cargo.lock
node_modules
html
dist
.cache
.idea
*.log
*.lib
*.a
*.o
obj
bin
*.user
examples/complex/bindings/c/cmake-build-debug
*.actual
*.generated
__pycache__
interoptopus/README.md