[package]
name = "core_library_ffi_build"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
name = "library"
crate-type = ["cdylib", "rlib"]

[dependencies]
core_library_ffi = { path = "../core_library_ffi" }

[build-dependencies]
core_library_ffi = { path = "../core_library_ffi" }
interoptopus = { path = "../../../crates/core" }
interoptopus_backend_csharp = { path = "../../../crates/backend_csharp" }
